* {
	box-sizing: border-box;
}

.header {
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	position: sticky;
	top: 0;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	padding: 15px;
}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1 {
	flex: 0 0 8.55555%;
	max-width: 8.55555%;
}

.col-xs-2 {
	flex: 0 0 16.66666%;
	max-width: 16.66666%;
}

.col-xs-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-xs-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-xs-5 {
	flex: 0 0 41.66666%;
	max-width: 41.66666%;
}

.col-xs-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xs-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.col-xs-8 {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
}

.col-xs-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-xs-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.col-xs-11 {
	flex: 0 0 91.66666%;
	max-width: 91.66666%;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}











@media(min-width:768px) {
	.container {
		max-width: 720px;
	}

	.col-xs-hidden {
		display: none;
	}

	.col-sm-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-sm-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.menu {
		padding: 30px;

	}
}

@media(min-width:992px) {
	.container {
		max-width: 960px;
	}

	.col-xs-hidden {
		display: flex;
	}
}


@media(min-width:1200px) {
	.container {
		max-width: 1140px;
	}

}

/*-----MOBILE----------------------------------------------*/
@media(max-width:767px) {
	.header-row {
		flex-wrap: wrap;
	}

	.col-xs-hidden {
		display: none;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.menu {
		overflow: auto;
		/* white-space: nowrap; */
	}

	.nav-mobile-menu {
		width: 15px;
		height: 15px;
		position: relative;
	}

	.nav-mobile-menu span {
		height: 1px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		transition: .25s ease-in-out;
	}

	.nav-mobile-menu span:nth-child(1) {
		top: 3px;
	}

	.nav-mobile-menu span:nth-child(2) {
		top: 7px;
	}

	.nav-mobile-menu span:nth-child(3) {
		bottom: 3px;
	}

	.navigation {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		max-width: 280px;
		transform: translateX(150%);
		transition: all 500ms ease-in-out;
	}

	.hidden-menu {
		opacity: 0;
		visibility: hidden;
	}

	.nav-mobile-menu.active-menu span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(2) {
		top: 50%;
		transform: rotate(-45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(3) {
		transform: scale(0);
	}

	.navigation.active-menu {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		padding: 20px;
		/*відступ відображення пунктів бургер меню*/
		background-color: black;
		top: 80px;
		/*рухаю бургер меню*/
	}

	.navigation.active-menu .menu {
		flex-direction: column;
	}




	.developer_block,
	.developer,
	.right,
	.mobile-number,
	.social_network {
		display: flex;
		justify-content: center;
		/* padding: 5px; */
	}

	.developer {
		text-align: center;
	}
}




.logo-img {
	width: 200px;
	height: 60px;
	margin: 10px 0;

	/* padding: 15px; */
	/* margin-top: 10px;
	margin-bottom: 10px; */
}

.menu {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*------------------------------------------*/

.menu>li>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 15px;
	border-radius: 10px;
}

.menu>li>a:hover {
	color: #ff3333;
	border: 1px solid white;
}

.form-serch {
	display: flex;
	align-items: center;

}

.search {
	display: flex;
	width: 195px;
	height: 80px;
	border-radius: 10px;
	align-items: center;
	position: relative;
}

.input-search-text {
	width: 160px;
	height: 27px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.85);
	border: 1px solid white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;

}

.input-search-button {
	width: 20px;
	height: 20px;
	background: url("images_mma/header/search.png") center no-repeat;
	background-size: 15px 15px;
	border: none;
	position: absolute;
	top: 30px;
	right: 10px;
}

input::placeholder {
	color: #ff3333;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.input-search-button:focus {
	outline: none;
}

/*------------------КАРТА------------------------*/
.Location {
	/* display: flex; */
	/* align-items: flex-end; */
	/* height: 500px; */
}





html {
	overflow-x: hidden;
}

.social_network_img {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.footer {
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
}

.developer {
	padding-top: 15px;
}

.mobile-block,
.social_network {
	display: flex;
	align-items: center;
	justify-content: center;
}


.mobile-block {
	padding-left: 35px;
}

.mobile-number {
	padding-top: 10px;
	position: relative;
}

.mobile {
	width: 25px;
	height: 25px;
	position: relative;
}

.icon {
	background-image: url("images_mma/header/mobile-img-16.png");
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

/*    font-size: 72px;
    font-family: russo one;
	     font-style: italic;
		  word-break: break-word; ?
		      font-size: 16px; для -
		  */