* {
	box-sizing: border-box;
}

.header {
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
	border-bottom: 1px solid white;
	position: sticky;
	top: 0;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	padding: 15px;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.main-row {
	display: flex;
	justify-content: center;
}

.slider_row {
	padding: 20px 0;
}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1 {
	flex: 0 0 8.55555%;
	max-width: 8.55555%;
}

.col-xs-2 {
	flex: 0 0 16.66666%;
	max-width: 16.66666%;
}

.col-xs-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-xs-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-xs-5 {
	flex: 0 0 41.66666%;
	max-width: 41.66666%;
}

.col-xs-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xs-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.col-xs-8 {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
}

.col-xs-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-xs-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.col-xs-11 {
	flex: 0 0 91.66666%;
	max-width: 91.66666%;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.img_about {
	width: 450px;
	height: 350px;
}

.about_main {
	padding: 60px;
	border-bottom: 1px solid #000;
}

.coach_section {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}

.coach_main {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.coach_centering {
	display: flex;
	justify-content: center;
}

.coach_block {
	display: flex;
	flex-direction: column;
}

.coach_title {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-size: 65px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-style: italic;
	color: white;
}

.coach_text {
	color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.coach_img_block {
	display: flex;
	justify-content: center;
}

.coach_img {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.coach_img:hover {
	opacity: 0.5;
}

.btn-sign-up {
	display: block;
	width: 65%;
	height: 50px;
	font-size: 24px;
	color: white;
	background-color: #f33;
	border: none;
}



@media(min-width:768px) {
	.container {
		max-width: 720px;
	}

	.col-xs-hidden {
		display: none;
	}

	.col-sm-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-sm-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.menu {
		padding: 25px;
	}

	.text_about_block {
		margin-left: 35px;
	}

	.image_about {
		margin-right: 20px;
	}

	.about_main {
		display: flex;
	}

	.coach_main {
		display: flex;
	}

	.coach_img_block,
	.coach_img {
		display: flex;
		flex-wrap: wrap;
	}

	.btn-sign-up {
		width: 100%;
	}

}

@media(min-width:992px) {
	.container {
		max-width: 960px;
	}

	.col-xs-hidden {
		display: flex;
	}
}


@media(min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}


/*-----MOBILE----------------------------------------------*/
@media(max-width:767px) {
	.header-row {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.main-row {
		flex-wrap: wrap;
	}

	.col-xs-hidden {
		display: none;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.menu {
		overflow: auto;
	}

	/*----------------------------BURGER-MENU-----------------------------------------------*/
	.burger_menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-mobile-menu {
		width: 15px;
		height: 15px;
		position: relative;
	}

	.nav-mobile-menu span {
		height: 1px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		transition: .25s ease-in-out;
	}

	.nav-mobile-menu span:nth-child(1) {
		top: 3px;
	}

	.nav-mobile-menu span:nth-child(2) {
		top: 7px;
	}

	.nav-mobile-menu span:nth-child(3) {
		bottom: 3px;
	}

	.navigation {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		max-width: 280px;
		transform: translateX(150%);
		transition: all 500ms ease-in-out;
	}

	.hidden-menu {
		opacity: 0;
		visibility: hidden;
	}

	.nav-mobile-menu.active-menu span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(2) {
		top: 50%;
		transform: rotate(-45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(3) {
		transform: scale(0);
	}

	.navigation.active-menu {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		padding: 20px;
		/*відступ відображення пунктів бургер меню*/
		background-color: rgba(0, 0, 0, 0.95);
		top: 80px;
		/*рухаю бургер меню*/
	}

	.navigation.active-menu .menu {
		flex-direction: column;
	}

	.developer_block,
	.developer,
	.right,
	.mobile-number,
	.social_network {
		display: flex;
		justify-content: center;
	}

	.developer {
		text-align: center;
	}

	.mma_club {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.about_main {
		padding: 25px 5px 25px 5px;
		border-bottom: 1px solid #000;
	}

	.img_about_mob {
		width: 300px;
		height: 250px;
	}

	.main-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title_about {
		margin-top: 10px;
	}

	.coach_img_block,
	.coach_img {
		display: flex;
		flex-wrap: wrap;
	}

	.coach_main {
		padding: 15px;
	}

	.slide_img_mob {
		width: 300px;
		height: 350px;
	}
}

/*--------------------------END MOBILE-------------------------------*/

.logo-img {
	width: 200px;
	height: 60px;
	margin: 10px 0;
}

.menu {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*------------------------------------------*/

.menu>li {
	padding: 4px;
}

.menu>li>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 4px 10px;
	border-radius: 10px;
}

.menu>li>a:hover {
	color: #ff3333;
	border: 1px solid white;
}

.form-serch {
	display: flex;
	align-items: center;
}

.search {
	display: flex;
	width: 195px;
	height: 80px;
	border-radius: 10px;
	align-items: center;
	position: relative;
}

.input-search-text {
	width: 160px;
	height: 27px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.95);
	border: 1px solid white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.input-search-button {
	width: 20px;
	height: 20px;
	background: url("images_mma/header/search.png") center no-repeat;
	background-size: 15px 15px;
	border: none;
	position: absolute;
	top: 30px;
	right: 10px;
}

input::placeholder {
	color: #ff3333;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.input-search-button:focus {
	outline: none;
}

/*------------------КАРТА------------------------*/
.black_title {
	text-align: center;
	padding: 10px;
	font-size: 65px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-style: italic;
}

html {
	overflow-x: hidden;
}

.social_network_img {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.footer {
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
}

.developer {
	padding-top: 15px;
}

.mobile-block,
.social_network {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-block {
	padding-left: 35px;
}

.mobile-number {
	padding-top: 10px;
	position: relative;
}

.mobile {
	width: 25px;
	height: 25px;
	position: relative;
}

.icon {
	background-image: url("images_mma/header/mobile-img-16.png");
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

.preview_block {
	height: 640px;
	background-image: url("images_mma/Main Site/section_1.jpg");
	background-size: 100% 100%;
	display: flex;
	align-items: center;
}

.col_flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fight_school {
	margin-right: 30px;
	margin-bottom: 50px;
	font-family: 'Quattrocento Sans', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}

.fight_club {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.mma_club {
	margin: 5px;
	font-size: 65px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-style: italic;
	color: white;
}

.red {
	color: red;
}

.description {
	margin: 50px;
	color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
}

#btn-sign:hover {
	background-color: white;
	color: #ff3333;
	cursor: pointer;
}

/*----------------------------------------------------*/

.text_about_block {
	display: flex;
	flex-direction: column;
}

.title_about {
	margin-bottom: 5px;
	font-size: 65px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-style: italic;
	color: black;
}

.text_about {
	color: black;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
}

.slick-list {
	position: relative;
	z-index: -1;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.slide_img {
	width: 300px;
	height: 350px;
}

.slick-track {
	display: flex;
}