* {
	box-sizing: border-box;
}

.header {
	background-color: #313832;
	color: white;
	border-bottom: 1px solid white;
	position: sticky;
	top: 0;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	padding: 15px 15px 5px 15px;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.main-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1 {
	flex: 0 0 8.55555%;
	max-width: 8.55555%;
}

.col-xs-2 {
	flex: 0 0 16.66666%;
	max-width: 16.66666%;
}

.col-xs-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-xs-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-xs-5 {
	flex: 0 0 41.66666%;
	max-width: 41.66666%;
}

.col-xs-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xs-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.col-xs-8 {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
}

.col-xs-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-xs-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.col-xs-11 {
	flex: 0 0 91.66666%;
	max-width: 91.66666%;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.image_about {
	display: flex;
	justify-content: center;
	text-align: center;
}

.img_about {
	display: flex;
	justify-content: center;
	text-align: center;
}

.about_main {
	display: flex;
	justify-content: center;
	padding: 60px;
	border-bottom: 1px solid #000;
}

@media(min-width:768px) {
	.container {
		max-width: 720px;
	}

	.col-sm-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-sm-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-sm-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-sm-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.menu {
		padding-bottom: 25px;
		padding-right: 25px;
	}

	.about_main {
		display: flex;
	}
}

@media(min-width:992px) {
	.container {
		max-width: 960px;
	}
}

@media(min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}

/*-----MOBILE----------------------------------------------*/
@media(max-width:767px) {
	.header-row {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.main-row {
		flex-wrap: wrap;
	}

	.footer-row {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.menu {
		overflow: auto;
	}

	/*----------------------------BURGER-MENU-----------------------------------------------*/
	.burger_menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-mobile-menu {
		width: 15px;
		height: 15px;
		position: relative;
	}

	.nav-mobile-menu span {
		height: 1px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		transition: .25s ease-in-out;
	}

	.nav-mobile-menu span:nth-child(1) {
		top: 3px;
	}

	.nav-mobile-menu span:nth-child(2) {
		top: 7px;
	}

	.nav-mobile-menu span:nth-child(3) {
		bottom: 3px;
	}

	.navigation {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		max-width: 280px;
		transform: translateX(150%);
		transition: all 500ms ease-in-out;
	}

	.hidden-menu {
		opacity: 0;
		visibility: hidden;
	}

	.nav-mobile-menu.active-menu span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(2) {
		top: 50%;
		transform: rotate(-45deg);
	}

	.nav-mobile-menu.active-menu span:nth-child(3) {
		transform: scale(0);
	}

	.navigation.active-menu {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		padding: 20px;
		/*відступ відображення пунктів бургер меню*/
		background-color: #313832;
		top: 51px;
		/*рухаю бургер меню*/
	}

	.navigation.active-menu .menu {
		flex-direction: column;
	}

	.developer_block,
	.developer,
	.right,
	.mobile-number,
	.social_network {
		display: flex;
		justify-content: center;
	}

	.developer {
		text-align: center;
	}

	.main_title_section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.about_main {
		padding: 25px 5px 25px 5px;
		border-bottom: 1px solid #000;
	}

	.img_about_mob {
		width: 300px;
		height: 250px;
	}

	.main-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title_about {
		margin-top: 10px;
	}
}

/*--------------------------END MOBILE-------------------------------*/

.logo-img {
	margin: 10px 0;
}

.menu {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu>li {
	padding: 5px;
}

.menu>li>a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 10px;
	border-radius: 25px;
}

.menu>li>a:hover {
	color: #966d14;
}

html {
	overflow-x: hidden;
}

.social_network_img {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.footer {
	background-color: #313832;
	color: white;
}

.developer {
	padding-top: 15px;
}

.mobile-block,
.social_network {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-block {
	padding-left: 35px;
}

.mobile-number {
	padding-top: 10px;
	position: relative;
}

.mobile {
	width: 25px;
	height: 25px;
	position: relative;
}

.icon {
	background-image: url("images/Logo/mobile-img-16.png");
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

.preview_block {
	height: 640px;
	background-image: url("images/2-Place/Place_2.jpg");
	background-size: 100% 100%;
	background-color: rgba(228, 222, 222, 0.9);
	display: flex;
	align-items: center;
}

.col_flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_block_title {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.main_title_section {
	font-size: 65px;
	font-family: 'Quattrocento Sans', sans-serif;
	color: white;
}

#btn-sign:hover {
	background-color: #966d14;
	color: white;
	cursor: pointer;
}

/*----------------------------------------------------*/


.text_about_block {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0px 10px 10px 25px;
	background-color: #505b4e;
}

.category {
	width: max-content;
	color: white;
	padding: 10px;
	margin: 15px 0px;
	border: 0px solid black;
	font-family: 'Quattrocento Sans', sans-serif;
	border-radius: 25px;
	background-color: #62725f;
	cursor: pointer;
}

.category:hover {
	color: #966d14;
	background-color: #fff;
	padding: 10px;
	border-radius: 25px;
}

.image_about {
	display: flex;
	justify-content: center;
}

.title_about {
	margin: 5px 0px;
	font-size: 34px;
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;
	color: white;
}

.text_about {
	display: flex;
	flex-wrap: wrap;
	margin: 5px 0px;
	color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
}

.btn_read_more {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px;
	padding: 5px 10px;
	border-radius: 25px;
	color: white;
	background-color: #62725f;
	border: none;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.btn_read_more:hover {
	color: #966d14;
	background-color: #fff;
	padding: 4px 10px;
	border-radius: 25px;
	border: 1px solid white;
}